<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_eng"
        android:label="Word App"
        android:roundIcon="@mipmap/logo_eng"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnglishWordsApp"
        tools:targetApi="31">
        <activity
            android:name=".ViewPages.ProfileEditActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.anlarsinsoftware.englishwordsapp.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ViewPages.PromptPage"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewPages.QuizPageActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewPages.ProfileActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewPages.RaporPage"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewPages.BulmacaOyunu"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewPages.Sozluk"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EnglishWordsApp" />
        <activity
            android:name=".ViewPages.WordAddPage"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewPages.HomePageActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Entrance.RegisterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Entrance.SignInActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Entrance.SplashActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>